<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Register Image Item</title>
  </head>

  <body>
    <div class="container">
      <<h1>zz</h1>
  </div>

  <script type="text/javascript">

  </script>
</body>
</html>
