<div class="container">
  <h1> 결제 모듈 페이지입니다.</h1>
  <button type="button" id="done-btn" class="btn btn-primary" name="button">결제 완료</button>
<br/>
</div>

<script type="text/javascript">
  $('#done-btn').on('click',function () {
    let url = '/';
    $(location).attr('href',url);
  })
</script>
<style>
    .container {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
</style>
