<% @reviews.each do |review| %>
<div style="padding-bottom: 10px;">
  <div style="border: 1px solid grey">
    <div class="comment-header" style="margin: 10px 10px 10px 10px;">
      <p class="media-heading box-inline text-main text-bold"><strong>작성자</strong>: <%= review.user.email %></p>
      <span class="text-muted text-sm"><%= review.title %>: <%= review.body.html_safe %></span>
    </div>
  </div>
</div>
<% end %>
<div>
  <ul class="pagination">
    <%= paginate @reviews %>
  </ul>
</div>
